{% extends "base.html" %}

{% block content %}
<h1>All Events</h1>
<div class="events-list">
    {% for event in events %}
        <div class="event-card">
            <h2>{{ event.title }}</h2>
            {% if events.image %}
                <img src="{{ events.images.url }}" ... >
            {% else %}
                <img src="/media/events/images" alt="Default Image" class="w-24 h-24 rounded-full">
            {% endif %}
            <p>{{ event.description }}</p>
            <p>Start: {{ event.start_datetime }}</p>
        </div>
    {% empty %}
        <p>No events found.</p>
    {% endfor %}
</div>
{% endblock %}
